html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 100vh;
}

/*.map {
  width: 80%;
  height: 100vh;
}*/
/* Add this to your existing CSS or create a new CSS file */
.map {
  width: calc(100% - 20%); /* Initial width based on controls width */
  transition: width 0.3s ease; /* Add transition for smooth animation */

  /* Add styles for the folded state */
  &.folded {
    width: 100%;
  }
}


.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Text {
  font-size: 1rem;
  color: darkgrey;
}

.Button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/*.dropdown-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  !*background-image: url('../public/pp.jpg');*!
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}*/

.dropdown-content {
  position: absolute;
  display: none;
  right: 10px;
  top: 60px;
  min-width: 160px;
  padding: 15px;
  border-radius: 15px;
  z-index: 1;
  border: 1px solid gray;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.dropdown-content::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 0.8rem;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.dropdown-icon.active + .dropdown-content {
  display: block; /* Show dropdown content when the icon is clicked */
}

.dropdown-content a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;

}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


/*
--------------------
  MAP STYLES
--------------------
*/
.info-window-content {
   max-width: 160px; /* Adjust as needed */
   word-wrap: break-word;
   white-space: normal;
 }
.controls.folded {
  width: 0;
  padding: 0;
  overflow: hidden;
}


/* fold button */
.FoldButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px; /* Adjust font size for a slimmer button */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */

  /* Add hover effect */
  &:hover {
    background-color: #45a049;
  }
}


/* locate button */


.places-container {
  display: flex;
  align-items: center;
}

.combobox-input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
}

.combobox-input:focus {
  outline: none;
  border-color: #2980b9;
}

.locate-me-button {
  background-color: #3498db ;
  border: none;
  color: white;
  padding: 10.7px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

